%h1 Listing rule_discount_if_one_by_mores

%table
  %thead
    %tr
      %th Product code
      %th Min count
      %th Discount
      %th
      %th
      %th

  %tbody
    - @rule_discount_if_one_by_mores.each do |rule_discount_if_one_by_more|
      %tr
        %td= rule_discount_if_one_by_more.product_code
        %td= rule_discount_if_one_by_more.min_count
        %td= rule_discount_if_one_by_more.discount
        %td= link_to 'Show', rule_discount_if_one_by_more
        %td= link_to 'Edit', edit_rule_discount_if_one_by_more_path(rule_discount_if_one_by_more)
        %td= link_to 'Destroy', rule_discount_if_one_by_more, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Rule discount if one by more', new_rule_discount_if_one_by_more_path
