= form_for @rule_by_one_get_one_free do |f|
  - if @rule_by_one_get_one_free.errors.any?
    #error_explanation
      %h2= "#{pluralize(@rule_by_one_get_one_free.errors.count, "error")} prohibited this rule_by_one_get_one_free from being saved:"
      %ul
        - @rule_by_one_get_one_free.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :product_code
    = f.text_field :product_code
  .actions
    = f.submit 'Save'
