.col-lg-6

  .panel.panel-default
    .panel-heading Rule: Buy 足one 足get 足one 足free:
    .panel-body
      #rulebyonegetonefreepartial= render partial: 'offers/constructor/rulesbyonegetonefree'
      %hr
      .row
        = render partial: 'offers/constructor/rulebyonegetonefree_form'

  .panel.panel-default
    .panel-heading Rule: Discout if one buys more:
    .panel-body
      #rulediscountifonebymorepartial= render partial: 'offers/constructor/rulesdiscountifonebymore'
      %hr
      .row
        = render partial: 'offers/constructor/rulediscountifonebymore_form'


.col-lg-6

  .panel.panel-default
    .panel-heading Products:
    .panel-body
      #productspartial= render partial: 'offers/constructor/products'
      %hr
      .row
        = render partial: 'offers/constructor/product_form'
