.col-lg-6

  = form_tag(checkout_scan_path) do
    .panel.panel-default
      .panel-heading Rules:
      .panel-body
        - @rule_by_one_get_one_frees.each do |rule|
          .checkbox
            %label
              = check_box_tag "rulebyonegetonefree_ids[]", rule.id, @rulebyonegetonefree_ids.include?(rule.id.to_s)
              By-one-get-one-free for #{Inventory.get(rule.product_code).name if Inventory.get(rule.product_code)} (#{rule.product_code}).
        - @rule_discount_if_one_by_mores.each do |rule|
          .checkbox
            %label
              = check_box_tag "rulediscountifonebymore_ids[]", rule.id, @rulediscountifonebymore_ids.include?(rule.id.to_s)
              Each #{Inventory.get(rule.product_code).name if Inventory.get(rule.product_code)} (#{rule.product_code}) gets discounted #{number_to_currency rule.discount, precision: 2} if one buy #{rule.min_count} or more of them.
        = submit_tag 'Apply', class: 'btn btn-primary btn-xs'

    .panel.panel-default
      .panel-heading Products:
      .panel-body
        %table.table.table-striped.table-hover.table-condensed
          %thead
            %tr
              %th #
              %th Code
              %th Name
              %th Price
              %th
          %tbody
          - Inventory.all.each_with_index do |product, index|
            %tr
              %th{scope: 'row'}
                = index + 1
              %td
                = product.code
              %td
                = product.name
              %td
                = number_to_currency product.price, precision: 2
              %td
                = button_tag 'Scan', name: 'scan', value: product.code, class: 'btn btn-success btn-xs'

.col-lg-6
  .panel.panel-default
    .panel-heading Checkout:
    .panel-body
      %table.table.table-striped.table-hover.table-condensed
        %thead
          %tr
            %th #
            %th Code
            %th Name
            %th Price
            %th Discount
            / %th Total price
        %tbody
        - @co.items.each_with_index do |product, index|
          %tr
            %th{scope: 'row'}
              = index + 1
            %td
              = product.code
            %td
              = product.name
            %td
              = number_to_currency Inventory.get(product.code).price, precision: 2
            %td
              = number_to_currency Inventory.get(product.code).price - product.price, precision: 2
      %table.table.table-condensed
        %tbody
          %tr.info
            %th Total price:
            %th
              = number_to_currency @total_price, precision: 2
            %td
              = link_to 'Clear', checkout_new_path, class: 'btn btn-danger  btn-xs'
